<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EnableCache" value="True"/>
    <add key="WebDAL" value="DAL"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--<add name="DB" connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;User ID=sa;Password=;Persist Security Info=True;" providerName="SqlServer"/>-->
    <!--<add name="DB" connectionString="Data Source=orcl;Persist Security Info=True;User ID=system;Password=;Unicode=True" providerName="Oracle"/>-->
    <!--<add name="DB" connectionString="allow zero datetime=true;Data Source=127.0.0.1;Database=northwind;User Id=root;Password=123456;" providerName="MySql"/>-->
    <!--<add name="DB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|Northwind.mdf;User Instance=true" providerName="SqlServer" />-->
    <add name="DB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Persist Security Info=true;Data Source=|DataDirectory|db.mdb;Jet OLEDB:Database Password=" providerName="OleDb"/>
    <!--<add name="DB" connectionString="Data Source=|DataDirectory|db.db;Version=3" providerName="SQLite" />-->
    <!--<add name="DB" connectionString="Data Source=128.0.0.2;Port=5000;User Id=sa;Password=123456;Database=test;persist security info=true" providerName="Asc" />-->
    <!--<add name="DB" connectionString="Database=sample;User ID=db2admin;Password=;Server=127.0.0.1;persist security info=true" providerName="DB2" />-->
    <!--<add name="DB" connectionString="Server=127.0.0.1;Port=5432;User Id=postgres;Password=;Database=postgres;Encoding=UNICODE" providerName="PostgreSql" />-->
  </connectionStrings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Forms">
      <forms defaultUrl="Default.aspx" loginUrl="SignIn.aspx"/>
    </authentication>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <compilation/>
    <pages/>
  </system.web>
</configuration>